{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block body %}#}
{#    <div class="col-4 offset-4">#}
{#    <a href="/todos/" class="btn btn-secondary">Go back</a>#}
{#    <a href="/" class="btn btn-secondary">Go home</a>#}
{#        <p>#}
{#            <h4>Change Status of Your Todo</h4>#}
{#        </p>#}
{#        <p>#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            Your Todo is Done: {{ form.status_done }}#}
{#            <p>#}
{#                <br>#}
{#            <button class="btn btn-outline-primary" type="submit">Submit</button>#}
{#            </p>#}
{#        </form>#}
{#        </p>#}
{##}
{#    </div>#}
{#{% endblock %}#}