{% extends 'base.html' %}
{% block page_title %}Todos{% endblock page_title %}
{% block body %}


<div class="container mt-3">
    <a href="/" class="btn btn-secondary">Go home</a>
    <p>
      <h2>List of Todos</h2>
    </p>
    <p>
      <a class="btn btn-primary" href="/create_todo">Create a new todo</a>
    </p>
 {% for todo in todo_list_undone %}
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/todos/{{ todo.id }}"><h5>{{ todo.name }}</h5></a>
      It's due {{ todo.due_date }}
      <span class="badge badge-warning badge-pill"><a href="">Undone</a></span>
  </ul>
 {% endfor %}

 {% for todo in todo_list_done %}
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="/todos/{{ todo.id }}"><h5>{{ todo.name }}</h5></a>
      <span class="badge badge-success badge-pill">Done</span>
  </ul>
 {% endfor %}

</div>

{% endblock body %}