{% extends 'base.html' %}
{% block page_title %}Todo detail{% endblock page_title %}
{% block body %}

    <div class="col-4 offset-4">
        <a href="/todos/" class="btn btn-secondary">Go back</a>
        <a href="/" class="btn btn-secondary">Go home</a>
          <div class="card mt-3">
            <div class="card-header">
                <h4>{{ todo.name }}</h4>
            </div>
            <div class="card card-body">
                {% if todo.status_done == False %}
                <p>It's due {{ todo.due_date }}</p>
                <p>It's not yet done.</p>
                {% else %}
                <p>Todo Done!</p>
                {% endif %}
                <p>Attachment: <a href="media/user_{user.id}/{filename}">Download</a></p>
            </div>
            <div class="card-footer">
                <a href="/todos/{{ todo.id }}/update_todo" class="btn btn-outline-primary">Update this todo</a>
                <a href="/todos/{{ todo.id }}/delete_todo" class="btn btn-primary">Delete this todo</a>
            </div>
        </div>
    </div>


{% endblock %}